<h1>Your Travel Bookings</h1>
<p>
<%= @user.first_name  %> <%= @user.last_name  %>
</p>

<% if @bookings.nil? %>
   <p>You have no Bookings!</p>
<% else %>
  <% @bookings.each do |booking| %>
    <ul>
      <li>Offer name: <%= booking.offer.name  %> </li>
      <li>Booking date: <%= booking.date  %> </li>
      <li>Number of Travellers: <%= booking.no_of_travellers  %> </li>
      <li>Price: €<%= booking.offer.price  %> </li>
      <li>Confirmation Status: </li>
    </ul>
  <% end %>
<% end %>


<% if @offers.nil? %>
   <p>You have no Offers!</p>
<% else %>
  <h1>Your Offers </h1>
  <% @offers.each do |offer| %>
      <ul>
         <li>Offer name: <%= link_to offer_path(offer) do %> <%= offer.name %> <% end %> </li>
      </ul>
  <% end %>
<% end %>

<%= link_to "Create an Offer", new_offer_path, class: "btn btn-primary" %>
