<header>
<h3 class="text-center title-index-padding" id="title-index">Dashboard</h3>
</header>

<h3>Hi <%= @user.first_name %>!</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <% if @bookings.nil? %>
        <h4 class="text-center" id="margin-title">You have no bookings!</h4>
      <% else %>
        <h4 class="text-center" id="margin-title">Your bookings</h4>
          <div>
            <% @bookings.each do |booking| %>
              <%= link_to offer_path(booking.offer) do %>
                <div class="card-product">
                  <%= cl_image_tag booking.offer.photo.key, height: 300, width: 400, crop: :fill %>
                  <div class="card-product-infos">
                    <div class="booking-detail">Offer name: <%= booking.offer.name  %> </div>
                    <div class="booking-detail">Booking date: <%= booking.date  %> </div>
                    <div class="booking-detail">Number of Travellers: <%= booking.no_of_travellers  %> </div>
                    <div class="booking-detail">Price: €<%= booking.offer.price  %> </div>
                    <div class="booking-detail">Confirmation Status:
                      <% if booking.confirmation_status = nil %>
                        <button type="button" class="btn btn-info" id="conf-button">Not yet</button>
                        <button type="button" class="btn btn-danger" id="conf-button">Cancel</button>
                      <% else %>
                        <button type="button" class="btn btn-success" id="conf-button">Confirmed</button>
                        <button type="button" class="btn btn-danger" id="conf-button">Cancel</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <% unless @myoffers.present? %>
        <h4 class="text-center" id="margin-title">You have no offers!</h4>
      <% else %>
        <h4 class="text-center" id="margin-title">Your offers</h4>
          <div>
            <% @myoffers.each do |offer| %>
              <%= link_to offer_path(offer) do %>
                <div class="card-product">
                  <%= cl_image_tag offer.photo.key, height: 300, width: 400, crop: :fill %>
                  <div class="card-product-infos">
                    <div class="booking-detail">Offer name: <%= offer.name %> </div>
                  </div>
                </div>
              <% end %>
            <div>
            <h4 class="text-center" id="margin-title">Booking Requests </h4>
             <% offer.bookings.each do |booking| %>
              <div class="card-product">
                <%= cl_image_tag booking.offer.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-product-infos">
                  <div class="booking-detail">Offer name: <%= booking.offer.name  %> </div>
                    <div class="booking-detail">Booking date: <%= booking.date  %> </div>
                    <div class="booking-detail">Number of Travellers: <%= booking.no_of_travellers  %> </div>
                    <div class="booking-detail">Price: €<%= booking.offer.price  %> </div>
                    <div class="booking-detail">Confirmation Status:
                      <% if booking.confirmation_status = nil %>
                        <button type="button" class="btn btn-success" id="conf-button">Confirm</button>
                        <button type="button" class="btn btn-danger" id="conf-button">Cancel</button>
                      <% else %>
                        <button type="button" class="btn btn-success" id="conf-button">Confirmed</button>
                        <button type="button" class="btn btn-danger" id="conf-button">Cancel</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
