<div>
  <div class="banner-container" style="background-image: url('<%= asset_url ('delorean.jpg')%>')">
    <%= render "shared/navbar" %>
    <div class="banner-home" >
      <h1 class="title-banner h1-banner">Time Peek</h1>

      <p class="p-banner">
        <span id="banner-typed-text"></span>
      </p>
    <section class="button-search d-flex">
  <%=link_to offers_path do  %>
    <span class="text" style="letter-spacing:0">Search Categories</span>
    <span class="line -right"></span>
    <span class="line -top"></span>
    <span class="line -left"></span>
    <span class="line -bottom"></span>
  <% end %>
</section>
    </div>
  </div>
</div>



<div id="page-width">
  <div class="cards" id="categories">
    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('religion.jpg')%>')">
        <h3>Religious</h3>
      </div>
    <% end %>

    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('sports.jpg')%>')">
        <h3>Sports</h3>
      </div>
    <% end %>

    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('music.jpg')%>')">
        <h3>Music</h3>
      </div>
    <% end %>

    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('war.jpg')%>')">
        <h3>Famous Battles</h3>
      </div>
    <% end %>

    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('conspiracy.jpg')%>')">
        <h3>Conspiracies</h3>
      </div>
    <% end %>

    <%= link_to offers_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url ('marylin.jpg')%>')">
        <h3>Famous Deaths</h3>
      </div>
    <% end %>

  </div>
</div>
