<header>
<h1 class="text-center title-index-padding" id="title-index"><strong>What's your destination?</strong></h1>
</header>

<div id="container-offers">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <%= link_to offer_path(offer) do %>
          <div class="card-trip">
            <%= cl_image_tag offer.photo.key, height: 200, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2 class="card-name"><%=offer.name%></h2>
                <div class=text-left>
                  <p><i class="fas fa-star"></i>   <%= offer.rating.to_f %></p>
                </div>
              </div>
              <div>
                <h2 class="card-tag"><%= offer.category %></h2>
                <div class="text-right">
                  <h2 class="card-trip-pricing">€<%= offer.price %></h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
