<div class=“container”>
  <%= cl_image_tag @offer.photo.key, class:"banner" %>
  <h1 class="text-center"><%= @offer.name %></h1>

  <div id="info-flex">
    <div class="info-box">
      <div class="info-icon">
      <i class="fas fa-users"></i>
      </div>
      <div class="info-text">
        <p class="info-title">Travellers</p>
        <p> <%=@offer.max_travellers%></p>
      </div>
    </div>


    <div class="info-box">
      <div class="info-icon">
      <i class="far fa-calendar-alt"></i>
      </div>
      <div class="info-text">
        <p class="info-title">Date</p>
        <p><%=@offer.date.year%></p>
      </div>
    </div>


    <div class="info-box">
      <div class="info-icon">
      <i class="fas fa-star"></i>
      </div>
      <div class="info-text">
        <p class="info-title">Rating</p>
        <p><%=@offer.rating%>/5</p>
      </div>
    </div>

    <div class="info-box">
      <div class="info-icon">
      <i class="fas fa-hand-holding-usd"></i>
      </div>
      <div class="info-text">
        <p class="info-title">Price</p>
        <p>€<%=@offer.price%></p>
      </div>
    </div>
  </div>

  <div class="read-more-container">
    <p>Roswell Incident A must see time adventure exclusive, The Roswell incident is the 1947 recovery of United States Army Air Forces balloon debris from a ranch near Corona, New Mexico by Roswell Army Air Field officers, and the subsequent conspiracy theories claiming that the debris involved a flying saucer, and that the truth had been covered up by the United States government.
      <span class="read-more-text"> Roswell Incident A must see time adventure exclusive, The Roswell incident is the 1947 recovery of United States Army Air Forces balloon debris from a ranch near Corona, New Mexico by Roswell Army Air Field officers, and the subsequent conspiracy theories claiming that the debris involved a flying saucer, and that the truth had been covered up by the United States government. On July 8, 1947, Roswell Army Air Field issued a press release stating that they had recovered a “flying disc”. The Army quickly retracted the statement and said instead that the crashed object was a conventional weather balloon.The Roswell incident did not surface again until the late 1970s, when retired lieutenant colonel Jesse Marcel, in an interview with ufologist Stanton Friedman, said he believed the debris he retrieved was extraterrestrial. Ufologists began promoting a variety of increasingly elaborate conspiracy theories, claiming that one or more alien spacecraft had crash-landed and that the extraterrestrial occupants had been recovered by the military, which then engaged in a cover-up.
      </span>
    </p>
    <span class="read-more-btn">Read More...</span>
  </div>


  <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModal">
  Book Now
</button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Time Adventure Has Been Successfully Booked</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Congrats You Are Officially A Time Traveller
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
