<div class="wrapper-offer">
    <%# IMAGE WRAPPER%>
		<div class="images-wrapper">
      <%= cl_image_tag @offer.photo.key, class:"banner-show" %>
    </div>
    <%# SIDE IMAGE%>
		<div class="side-image-content">
			<span class="kicker">Religious</span>
		  <h1 class="text-show"><%= @offer.name %></h1>

      <%# INFO FLEX%>
      <div id="info-flex">
        <%# INGFO BOX %>
        <div class="info-box">
          <div class="info-icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="info-text">
            <p class="info-title">Price</p>
            <p>€<%=@offer.price%></p>
          </div>
        </div>

        <%# INGFO BOX %>
        <div class="info-box">
          <div class="info-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="info-text">
            <p class="info-title">Travellers</p>
            <p> <%=@offer.max_travellers%></p>
          </div>
        </div>


        <%# INGFO BOX %>
        <div class="info-box">
          <div class="info-icon">
            <i class="far fa-calendar-alt"></i>
          </div>
          <div class="info-text">
            <p class="info-title">Date</p>
            <p><%=@offer.date.year%></p>
          </div>
        </div>

        <%# INGFO BOX %>
        <div class="info-box">
          <div class="info-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="info-text">
            <p class="info-title">Rating</p>
            <p><%=@offer.rating%>/5</p>
          </div>
        </div>
      </div>
      <div>
        <p class="body-show" style="font-weight:200">
          <%= @offer.description%>
        </p>
        <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModal">
          Book Now
        </button>
      </div>
    </div>
</div>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Your Time Adventure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@offer, @booking] do |f| %>
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :no_of_travellers %>
          <%= f.button :submit, class: "submitbtn-booking"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
